.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

.row {
  overflow: hidden;
  white-space: nowrap;
  width: max-content;
  width: -webkit-max-content;
  width: -ms-max-content;
  line-height: 80%;
  display: block;
}
.padgap {
  padding-left: 80px;
}

.gap {
  transform: translate(20%, 0);
}

.landing {
  display: inline-flex;
  padding-top: 20vh;
  margin-bottom: 300px;
  width: 100%;
  @media screen and (max-width: 576px) {
    padding-top: 15vh;
    margin-bottom: 150px;
  }
}

.landing_left {
  padding-left: 4vw;
  position: relative;
  z-index: 2;
  width: 60%;
}

.landing_right {
  // height: 100vh;
  overflow: hidden;
  width: 40%;
  // @media screen and (max-width: 768px) {
  //   height: 55vh;
  // }
  @media screen and (max-width: 576px) {
    // height: 35vh;
  }
}

.landing_button {
  padding-right: 18%;
  padding-bottom: 8vh;
  @media screen and (max-width: 768px) {
    padding-bottom: 4vh;
  }
  & > div span {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    & > img {
      transform: translate(20px, 0);
      transition: 0.6s;
      @media screen and (max-width: 576px) {
        transform: translate(10px, 0);
      }
    }
    &:hover > .get_yours_circle {
      transform: translate(32px, 0);
      @media screen and (max-width: 576px) {
        transform: translate(22px, 0);
      }
    }
  }
}

.get_yours_circle {
  @media screen and (max-width: 768px) {
    width: 50px;
  }
  @media screen and (max-width: 576px) {
    width: 40px;
  }
}

.get_yours_btn {
  border: 1px solid rgba(27, 39, 44, 0.2);
  border-radius: 100px;
  width: 150px;
  height: 150px;
  padding: 60px 26px 0 0;
  text-align: right;
  @media screen and (max-width: 992px) {
    width: 120px;
    height: 120px;
    padding: 48px 20px 0 0;
    p {
      font-size: 12px;
    }
  }
  @media screen and (max-width: 576px) {
    width: 100px;
    height: 100px;
    padding: 40px 17px 0 0;
    p {
      font-size: 10px;
    }
  }
}

.landing_title h1 {
  font-size: 9.2vw;
  color: rgb(27, 38, 44);
  font-family: var(--elgoc);
}

.landing_image img {
  width: 112%;
  margin-top: -10%;
}

.serum_before {
  position: relative;
  &::before {
    content: "*MIRACLE /SERUM";
    position: absolute;
    bottom: 20px;
    left: -60px;
    font-size: 10px;
    font-family: var(--ttnorms);
    white-space: pre-wrap;
    line-height: 12px;
    width: 10px;
    @media screen and (max-width: 576px) {
      bottom: 10px;
      left: -35px;
      font-size: 6px;
      line-height: 6px;
    }
  }
}
