::-webkit-scrollbar {
  background-color: var(--bg_color);
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary_color);
}

::-moz-selection {
  background: var(--primary_color);
  text-shadow: none;
}
::selection {
  background: var(--primary_color);
  text-shadow: none;
}

body {
  background-color: var(--bg_color);
}

.scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100vh;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  .scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--primary_color);
    opacity: 1;
    width: 7px;
    margin: 2px;
    cursor: grab;
  }
}

.flex {
  display: flex;
}