@font-face {
  font-family: elgoc;
  src: url("../../assets/fonts/ElgocMedium.woff");
}

@font-face {
  font-family: ttnorms;
  src: url("../../assets/fonts/TTNorms-Regular.otf");
}

a, p{
  font-family: var(--ttnorms);
}

p{
  font-size: 14px;
  font-weight: normal;
  color: rgb(79, 79, 79);
  line-height: 126%;
}

h1, h2, h3, h4{
  font-weight: normal;
  text-transform: uppercase;
  font-family: var(--elgoc);
  line-height: 100%;
  color: rgb(27, 38, 44);
}
